<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>xhyve.lxe.erianna.com</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
	<key>WorkingDirectory</key>
	<string>/Library/Containers/com.erianna.lxe/</string>
    <key>Program</key>
	<string>/Library/Containers/com.erianna.lxe/headless.sh</string>
    <key>RunAtLoad</key>
    <true/>
	<key>StandardErrorPath</key>
	<string>/Library/Containers/com.erianna.lxe/xhyve.lxe.erianna.com.error.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Containers/com.erianna.lxe/xhyve.lxe.erianna.com.out.log</string>
</dict>
</plist>